<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>My First App test</title>
</head>
<body>
    <h2 class="hello" > Hello les amix </h2>
    <table>
        <thead>
            <tr>
                <th> The name </th>
                <th> the walo </th>
            </tr>
        </thead>
        <tbody>
            {% for instance in data %}
                <tr>
                    <td class="hiho">
                        {{instance.fields.name}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>